/* .app{
    display: flex;
    flex-direction: column;
} */

/* .content{
    display: flex;
    flex-grow: 1;
} */

/* .main{
    width: 250px;
    height: 100vh;
} */

/* .top-bar{
    height: 60px;
    background-color: #f0f0f0;
} */

/* .footer{
    height: 60px;
    background-color: #f0f0f0;
} */
  